<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
	<header class="header" th:include="fragments/menu :: menu" /></header>
   
	<section id="main-section" class="container-fluid">
	 <h1 th:text="#{title.yourfollows}">Your follows</h1>
	 
		<table class="table table-striped display">
			<tr>
				<th th:text="#{label.login}">Login</th>
				<th th:text="#{label.name}">Name</th>
				<th th:text="#{label.surname}">Surname</th>
				<th> </th>					
			</tr>	 
            <tr th:each="follow : ${follows}">
            		<td><span th:remove="tag" th:text="${follow?.followed_user.login}" >Login</span></td>
            		<td><span th:remove="tag" th:text="${follow?.followed_user.firstName}">Name</span></td>
            		<td><span th:remove="tag" th:text="${follow?.followed_user.lastName}">Lastname</span></td>    
            		<td>
	               		<form id="unfollowUserForm" action="#" th:action="@{/followed/unfollowUser}" class="form-narrow form-horizontal" method="post">
	               				<input type="hidden" id="user_id" name="user_id" th:value="${follow?.followed_user.user_id}">              					
	               				<button id="unfollowButton" th:text="#{button.unfollow}" type="submit" class="btn btn-danger">Unfollow</button>	
	               		</form>
	               	</td>
            </tr>	 

      </table>
	</section>
	<footer>
      <div th:include="fragments/scripts :: general" />
	</footer>
</body>
</html>