<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container-fluid">
      <h1 th:text="#{title.yourpictures}">Your pictures</h1>
      <table class="table table-striped display dataTable">
         <tr th:each="picture : ${pictures}">
            <td>
            	<div  style="text-align: center; width:400px; margin-left:25%">
            	<div>
            		<img th:src="'/cubisoft/Pictures/' + ${picture?.image_path}" width="400px"/></br>
            	</div>
            	<div style="width:80%; margin-left:5%">
      				<span style="padding-left: 20px" th:text="${picture?.description}">Description placeholder</span>
           		</div>
           		</div>
            </td> 
         </tr> 
      </table>
   </section>

   <footer>
      <div th:include="fragments/scripts :: general" />
   </footer>
</body>

</html>
