<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container-fluid">
      <h1 th:text="#{title.yourpictures}">Your pictures</h1>
      <table class="table table-striped display dataTable">
         <tr th:each="picture : ${pictures}">
            <td>
            	<div  style="width:400px; margin-left:25%">
	            	<div>
	            		<img th:src="'/cubisoft/Pictures/' + ${picture?.image_path}" width="400px"/>
	            		<br/><hr style="margin:5px"/>
	            	</div>
	            	<div style="width:80%">
						<div>
							<a href="#" th:text="#{button.delete}" th:href="@{/picture/delete(picture_id=${picture?.picture_id})}" class="btn btn-danger" role="button" style="margin:10px">Delete</a>      			           			
						</div> 

	            		<div style="margin-left:5%">
		      				<span th:text="${picture?.description}">Description placeholder</span>
	            		</div>
           	
	           		</div>
           		</div>
            </td> 
         </tr> 
      </table>
   </section>

   <footer>
      <div th:include="fragments/scripts :: general" />
   </footer>
</body>

</html>
